body {
  background-color: hsl(220, 15%, 55%);
  width: 20%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-sm {
  border-radius: 10px;
  padding: 20px;
}

.round {
  border-radius: 10px;
}

.text-bold {
  font-size: 1.1em;
}
